{% extends 'info/base.html' %}
{% block title %}Notifications{% endblock %}
{% load static %}
{% block content %}
<body>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        <b>Notifications</b></div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Heading</th>
                    <th>Type</th>
                    <th>Link</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for alert in Alerts_list %}
                <tr>
                    <td>{{ alert.Heading }}</td>
                    <td>{{ alert.Type }}</td>
                    <td><a href="{{ alert.File_link }}">Notice Link</a></td>
                    <td>{{ alert.Date }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

{%endblock%}




