{% extends 'info/base.html' %}
    {% load static %}

    {% block content %}

<style>
    body {background-color: powderblue;}
    h1{color:Black;
    text-align:center;}
    table, th, td {
  border: 3px solid black;
}
</style>
<body>
<h1><b>Notifications</b></h1><br><br><br>
<div class="container mx-4 my-20">
    <table style="width:100%">
  <tr>
    <th>Heading</th>
    <th>Type</th>
    <th>Link</th>
      <th>Date</th>
  </tr>
        {% for alert in Alerts_list %}
        <tr>
            <td>{{ alert.Heading }}</td>
            <td>{{ alert.Type }}</td>
            <td><a href="{{ alert.File_link }}">Notice Link</a></td>
            <td>{{ alert.Date }}</td>
        </tr>
        {% endfor %}
</table>






</div>
</body>

{%endblock%}




